@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-screen-xl mx-auto px-10 lg:px-0;
}

h1 {
}
.whole_wrapper {
  height: 100vh;
}
section {
  height: 100vh;
  scroll-snap-align: start;
}

.sec_one {
  transition: transform 1s;
}

.swiper-slide-active .sec_one {
  transform: none;
}

/* section 2 */
.swiper-slide-active .left_bottle,
.swiper-slide-active .right_bottle {
  opacity: 1;
  transform: none;
}

.swiper-slide-active .animate {
  transform: none;
  opacity: 1;
}